{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        /* p {
            color: red;
            background-color: #000000;
        } */
    </style>
</head>

<body>
    <h1 class="june">hii</h1>
    <h2 class="june">any</h2>
    <h3 class="june">hello</h3>
    <img src="{% static 'images/logo.png' %}" alt="">
    <p style="color:red; background-color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        vitae repellendus? Maxime facere ea ipsum incidunt, suscipit voluptatum veniam porro, cupiditate nemo quod
        asperiores, earum quidem commodi in accusantium impedit!</p>
    <p style="color:red; background-color: #000000;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        vitae repellendus? Maxime facere ea ipsum incidunt, suscipit voluptatum veniam porro, cupiditate nemo quod
        asperiores, earum quidem commodi in accusantium impedit!</p>
    <p class="june">hello</p>
    <p class="june">hello</p>
    <p id="unique">hello</p>
    <h2>ntha </h2>
    <input type="text">
    <input type="password">
    <p class="oo">sam leo</p>
    <p class="oo">carry</p>
    <p>jimmy</p>
    
</body>

</html>